body{
    background-color:#1a1008;
    font-family:'Cinzel',serif;
    max-width:80%;
    margin:0 auto;
    padding: 5%
}
h1{
    color:#F0A500
}
h2{
    color:#C47F00
}
.description{
    color:#E8D5B0;
    font-size:18px
}
img{
    max-width:75%;
}
.contenu{
    display:grid;
    grid-template-columns: 1fr;
    gap:10px;
    align-items:center
}
@media (min-width: 768px) {
    .contenu{
        grid-template-columns: 1fr 1fr;
    }
}
.text{
    flex:1;
    gap:5px;
    align-items:baseline
}
p{
    color:#E8D5B0;
    font-size:25px;
}